$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'bootstrap/dist/css/bootstrap';

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}
body {
    margin-top:70px;
}
.title {
    text-align: center;
    font-size: 24px;
}
.question_form {
    margin: 20px;
}
#login-dialog{
    position: fixed;
    height: 256px;
    top:50%;
    margin-top:-140px;
    left:50%;
    margin-left:-300px;
}
#warning{
    color:chocolate;
}
.btn-right {
    float: right;
}
.container-init {
    display: none;
}
.question-area {
    display:none;
}
